:root {
    --team-ferrari: #E80020;
    --team-red-bull: #3671C6;
    --team-mercedes: #27F4D2;
    --team-mclaren: #FF8000;
    --team-aston-martin: #229971;
    --team-haas: #B6BABD;
    --team-kick-sauber: #52E252;
    --team-williams: #64C4FF;
    --team-alpine: #0093CC;
    --team-rb: #6692FF;
}