@import 'tailwindcss';

@config '../../tailwind.config.js';

@font-face {
    font-family: 'F1Bold';
    src: url('../fonts/Formula1-Bold.otf');
}

@font-face {
    font-family: 'F1Regular';
    src: url('../fonts/Formula1-Regular.otf');
}

@font-face {
    font-family: 'F1Wide';
    src: url('../fonts/Formula1-Wide.otf');
}

@theme {
    --font-bold: "F1Bold", sans-serif;
}

@theme {
    --font-regular: "F1Regular", sans-serif;
}

@theme {
    --font-wide: "F1Wide", sans-serif;
}