@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'F1Bold';
    src: url('../fonts/Formula1-Bold.otf');
}

@font-face {
    font-family: 'F1Regular';
    src: url('../fonts/Formula1-Regular.otf');
}

@font-face {
    font-family: 'F1Wide';
    src: url('../fonts/Formula1-Wide.otf');
}